<header class="page-header">
<h1>About Us</h1>
</header>

<div class="jumbotron">
<h3><em>Here at Jungle,</em></h3>
  <p>
  We take pride in our products. That means higher prices for you, lower wages for our employees, and little to no care for our planet. That means you can have the perfect product shipped to your doorstep in seconds, at the push of a button. 
  
  The world is a vast, ever-changing place, and nature sets it's own rules. That's why we've always said...
  </p>

  <em> Why try to be the king of the Jungle, when you could just be the whole thing?</em>

  
</div>